.App {
  text-align: center;
  /*font-family: 'Sacramento', cursive;*/
  font-family: 'Handlee', cursive;
  font-size: 25px;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  font-family: 'Pacifico', cursive;
}

.aboutme{
  margin-top: 5%;
}

.my_name{
  display: inline;
  margin-left: 10px;
  font-size: 40px;
}

.navbar-collapse{
  font-size: 14px;
  display: inline;
}

.linkbtn {
  position: relative;
  top: 50px;
}
.contactme{
  height: 400px;
  background-color: #4F97A3;
}

.hello{
  font-size: 50px;
  padding-top: 5%;
}

.icons{
  padding-top: 1%;
}

.icons a{
  text-decoration: none;
  color: inherit;
}

.icons a :hover{
  color: white;
}
.avatar{
  width: 250px;
  height: 250px;
}

h1 ,h2{
  font-weight: bolder;
}

.listitems{
  list-style-type:none;
  padding-inline-start: 0;
}

.col-sm {
  background-color: #4F97A3;
  color: white;
  padding: 5%;
  margin: 1%;
  border: 1px solid;
  border-radius: 5%;
}

.exp{
  background-color: #4F97A3;
  padding: 5%;
}

.exp .card {
  background-color: #4F97A3;
  color: white;
  font-size: 30px;
  border: none;
}

.projects {
  margin: 2%;
  padding: 2%;
  width: 24rem;
}

.projectcontainer{
    display: inline-flex;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
}

.card-title{
  text-align: left;
  padding: 1%;
}

.skillrow{
  display:inline-flex;
  width: 60%;
  /*margin-left: 10%;*/
  margin: auto;
}

.expcard {
  width: 80%;
  /*margin-left: 10%;*/
  margin: auto;
}

.card-body{
  text-align: left;
}

.company{
  position: absolute;
  width:100%;
  font-size: 20px;
  font-weight: bolder;
}

.cname{
  position: relative;
  float:left;
}

.cdate{
  position: relative;
  float:right;
  right:50px;
}


.project2, .project1{
  font-size: 18px;
  font-weight: bold;
}

.projectitems {
  font-size: 15px;
  /*font-weight: bolder;*/
}

.experience {
  color: white;
  font-size: 40px;
  padding: 1%;
  font-weight: bolder;
}

.description{
  font-size:20px;
}

.card-img-top{
  width: 250px;
  height: 250px;
}


.nav-item {
  width: 30%;
}
